.save-pair.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.film-pair-header {
  h3 {
    padding: 15px 15px 15px 0;
  }
  p {
    padding-bottom: 15px;
    font-size: 2rem;
  }
}

.film-pair-buttons {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.film-pair-buttons button {
  background-color: #191919;
  color: $light-blue;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid $light-blue;
  padding: 10px 30px;
}

.film-pair-buttons button:first-of-type {
  margin-right: 20px;
}

@media (max-width: 366px) {

  .film-pair-buttons button {
    flex-basis: 100%;
  }

  .film-pair-buttons button:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
