@import './fontsAndColours.scss';
@import './global.scss';

main {

  .pair-block {
    padding: 2vw 0;

    &:nth-child(odd) {
      background-color: #0C090A;
    }
  }

  ul, li, p {
    margin: 0;
    padding: 0;
  }

  .pair {
    display: flex;
  }

  .film-flex {
    width: calc(50% - 1vw);
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1vw;
    
    &:last-child {
      margin-right: 0;
      margin-left: 1vw;
    }
  }

  .pair-info, .pair-poster {
    width: 50%;
  }

  .pair-info {
    margin-left: 1vw;
  }

  .pair-info p {
    padding-top: 10px;
  }

  .date {
    font-weight: bold;
    padding-top: 5px;
    color: $tan;
  }

  .rating {
    color: $purple; 
  }

  .overview {
    color: $light-blue;
  }

  // MEDIA QUERY
  @media all and (max-width: $tabletLandscapeBreakpoint) {
    .film-flex {
      // width: 100%;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
    }

    .pair-info, .pair-poster {
      width: 80%;
    }

    .pair-poster {
      padding-bottom: 15px;
    }
  }

  @media all and (max-width: $mobileBreakpoint) {
    .pair-block {
      margin: 30px 0px;
      padding: 30px 0;
    }

    .pair {
      flex-direction: column;
      text-align: center;
    }

    .pair-info, .pair-poster {
      width: 90%;
    }

    .pair-info {
      padding-bottom: 40px;
    }

    .film-flex {
      width: 100%;
    }
  }

}