@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Lato&display=swap');

// FONTS
$sans-serif-font: 'Lato', sans-serif;
$serif-font: 'Josefin Slab', serif;

// COLOURS
$light-blue: #DBF0EF;
$purple: #C7B2D3;
$tan: #ECC79C;
