@import './fontsAndColours.scss';
@import './global.scss';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  color: white;
  background: black;
  height: 30vh;
  
  a {
    color: white;
  }

  section {
    flex: 1 1 auto;
    padding: 0 20px;
  }

  .attributions {
    text-align: center;
  }

  .attributions a {
    text-decoration: underline;
  }

  .team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-info p {
    font-size: 2rem;
  }

  .team-info .team-name {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
  }

  .team-members {
    display: flex;

  }

  .team-member {
    padding: 0 10px;
  }

  .team-social {
    display: flex;
    justify-content: space-around;
  }

} 