// @import './fontsAndColours.scss';
// @import './global.scss';


header {
  background-image: url(./assets/header-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.welcome {
  position: absolute;
  top: 125px;
  text-align: center;

  button {
    background-color: #191919;
    color: $light-blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid $light-blue;
    padding: 10px 30px;
  }
}
