// ~~~~~~~~~~~~~~~~~~~~ NEW STYLES ~~~~~~~~~~~~~~~~~~~~ //

$tabletLandscapeBreakpoint: 1050px;
$tabletBreakpoint: 800px;
$mobileBreakpoint: 450px;

div.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

section.englishFilms {
  padding: 3vw;
}

ul.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2vw;

  li {
    // border: 2px solid transparent;
    width: calc((min(90vw, 1200px) - 16vw) / 6);
    height: calc((min(90vw, 1200px) - 16vw) / 6 * 1.5);
    cursor: pointer;

    img {
      border: 2px solid transparent;
      width: 100%;
      height: 100%;

      &:hover, &:active, &:focus {
        // transform: scale(1.05);
        border-color: skyblue;
      }
    }
  }

  @media all and (max-width: $tabletLandscapeBreakpoint) {
    grid-template-columns: repeat(4, 1fr);

    li {
      width: calc((90vw - 12vw) / 4);
      height: calc((90vw - 12vw) / 4 * 1.5);
    }
  }

  @media all and (max-width: $tabletBreakpoint) {
    grid-template-columns: repeat(3, 1fr);

    li {
      width: calc((90vw - 10vw) / 3);
      height: calc((90vw - 10vw) / 3 * 1.5);
    }
  }

  @media all and (max-width: $mobileBreakpoint) {
    grid-template-columns: repeat(2, 1fr);

    li {
      width: calc((90vw - 8vw) / 2);
      height: calc((90vw - 8vw) / 2 * 1.5);
    }
  }
}