@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lato&display=swap");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::after, blockquote::before, q::after, q::before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio, canvas, video {
  display: inline-block;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, html, input, select, textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  color: white;
  font-family: 'Lato', sans-serif; }

main {
  background: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  color: #ECC79C;
  margin: 0;
  padding: 0; }

h1 {
  font-size: clamp(10rem, 12vw, 16rem);
  letter-spacing: calc(0px - max(12px, 1.5vw));
  text-transform: uppercase; }

h2 {
  font-size: clamp(2.5rem, 2.5vw, 3rem);
  text-transform: uppercase; }

h3 {
  font-size: 3.7rem; }

h4 {
  font-size: 20px;
  font-style: italic; }

img {
  width: 100%;
  display: block; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 calc(min(2vw, 24px));
  margin: 0 auto; }

.fa-star {
  color: #fabc3c; }

.shadow {
  transition: all .2s ease-in-out; }

.shadow:hover {
  box-shadow: 0px 2px 25px 2px #ECC79C;
  transform: scale(1.02); }

header {
  background-image: url(./assets/header-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.welcome {
  position: absolute;
  top: 125px;
  text-align: center; }
  .welcome button {
    background-color: #191919;
    color: #DBF0EF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #DBF0EF;
    padding: 10px 30px; }

section.films {
  padding: 3vw 0; }
  section.films h3 {
    padding: 15px 15px 15px 0; }

form {
  text-align: center;
  padding-top: 80px; }

input[type=text], input[type=submit] {
  padding: 15px;
  border-radius: 5px; }

input[type=text] {
  width: calc(100% - 160px);
  max-width: 300px;
  border: 3px solid #C7B2D3; }

input[type=submit] {
  width: 150px;
  margin-left: 10px; }

.films h3 {
  padding: 15px; }

.shadow {
  transition: all .2s ease-in-out; }

.shadow:hover {
  box-shadow: 0px 2px 25px 2px #ECC79C;
  transform: scale(1.02); }

section.films {
  padding: 3vw 0; }

ul.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vw; }
  ul.grid-container li {
    width: calc((min(100vw, 1200px) - 12vw) / 5);
    height: calc((min(100vw, 1200px) - 12vw) / 5 * 1.5); }
  ul.grid-container button {
    border: 2px solid transparent;
    width: 100%;
    height: 100%; }
    ul.grid-container button:hover, ul.grid-container button:active, ul.grid-container button:focus {
      border-color: #DBF0EF; }
  ul.grid-container img {
    height: 100%; }
  @media all and (max-width: 1050px) {
    ul.grid-container {
      grid-template-columns: repeat(4, 1fr); }
      ul.grid-container li {
        width: calc((100vw - 10vw) / 4);
        height: calc((100vw - 10vw) / 4 * 1.5); } }
  @media all and (max-width: 800px) {
    ul.grid-container {
      grid-template-columns: repeat(3, 1fr); }
      ul.grid-container li {
        width: calc((100vw - 8vw) / 3);
        height: calc((100vw - 8vw) / 3 * 1.5); } }
  @media all and (max-width: 450px) {
    ul.grid-container {
      grid-template-columns: repeat(2, 1fr); }
      ul.grid-container li {
        width: calc((100vw - 6vw) / 2);
        height: calc((100vw - 6vw) / 2 * 1.5); } }

.error-message, .loading-page {
  font-size: 2.3rem;
  line-height: 1.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%; }

.main-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative; }

.error-message {
  background-color: rgba(0, 0, 0, 0.7); }

.error-message .main-content {
  background-color: #0C090A;
  border: 2px solid #DBF0EF;
  position: relative;
  width: 90%;
  max-width: 600px;
  padding: 10vw 3vw; }

.error-message button {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 3rem;
  color: #DBF0EF; }
  .error-message button:hover, .error-message button:active, .error-message button:focus {
    color: white; }

.main-content img {
  width: 75px;
  height: 75px;
  margin: 0 auto 20px auto;
  animation: spin 1.8s linear infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

div.container {
  position: relative;
  z-index: 1; }

div.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

div.modal {
  background-color: #0C090A;
  border: 2px solid #DBF0EF;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2vw;
  position: relative;
  width: 90%;
  max-width: 700px;
  max-height: 100%;
  overflow-y: auto;
  padding: 3vw; }

div.modal-info p {
  padding-top: 10px; }

button.close {
  background: none;
  border: none;
  color: #DBF0EF;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px; }
  button.close:hover, button.close:active, button.close:focus {
    color: white; }

button.select {
  background-color: #191919;
  color: #DBF0EF;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #DBF0EF;
  padding: 10px 30px;
  margin-top: 20px; }

.save-pair.disabled {
  pointer-events: none;
  opacity: 0.5; }

.film-pair-header h3 {
  padding: 15px 15px 15px 0; }

.film-pair-header p {
  padding-bottom: 15px;
  font-size: 2rem; }

.film-pair-buttons {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.film-pair-buttons button {
  background-color: #191919;
  color: #DBF0EF;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #DBF0EF;
  padding: 10px 30px;
  transition: all .2s ease-in-out; }

.film-pair-buttons button:first-of-type {
  margin-right: 20px; }

@media (max-width: 366px) {
  .film-pair-buttons button {
    flex-basis: 100%; }
  .film-pair-buttons button:first-of-type {
    margin-right: 0;
    margin-bottom: 10px; } }

main .pair-block {
  padding: 2vw 0; }
  main .pair-block:nth-child(odd) {
    background-color: #0C090A; }

main ul, main li, main p {
  margin: 0;
  padding: 0; }

main .pair {
  display: flex; }

main .pair p {
  padding-top: 10px;
  color: #C7B2D3; }

main .pair p:nth-child(2) {
  color: #ECC79C; }

main .pair p:nth-child(4) {
  color: #DBF0EF; }

main .film-flex {
  width: calc(50% - 1vw);
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1vw; }
  main .film-flex:last-child {
    margin-right: 0;
    margin-left: 1vw; }

main .pair-info {
  margin-left: 1vw; }

main .pair-block {
  padding: 2vw 0; }
  main .pair-block:nth-child(odd) {
    background-color: #0C090A; }

main .film-flex {
  width: calc(50% - 1vw);
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1vw; }
  main .film-flex:last-child {
    margin-right: 0;
    margin-left: 1vw; }

main .pair-info, main .pair-poster {
  width: 50%; }

main .pair-info {
  margin-left: 1vw; }

main .pair-info p {
  padding-top: 10px; }

main .date {
  font-weight: bold;
  padding-top: 5px;
  color: #ECC79C; }

main .rating {
  color: #C7B2D3; }

main .overview {
  color: #DBF0EF; }

main .pair-info, main .pair-poster {
  width: 50%; }

main .date {
  font-weight: bold;
  padding-top: 5px; }

@media all and (max-width: 1050px) {
  main .film-flex {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center; }
  main .pair-info, main .pair-poster {
    width: 80%; }
  main .pair-poster {
    padding-bottom: 15px; }
  main:nth-child(odd) {
    background-color: #191919; } }

@media all and (max-width: 450px) {
  main .pair-block {
    margin: 30px 0px;
    padding: 30px 0; }
  main .pair {
    flex-direction: column;
    text-align: center; }
  main .pair-info, main .pair-poster {
    width: 90%; }
  main .pair-info {
    padding-bottom: 40px; }
  main .film-flex {
    width: 100%; } }

.pairs h3 {
  padding: 15px 15px 15px 0; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: white;
  background: black;
  height: 30vh; }
  footer a {
    color: white; }
  footer section {
    flex: 1 1 auto;
    padding: 3vw; }
  footer .team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  footer .team-info p {
    font-size: 2rem;
    text-align: center; }
  footer .team-info .heart {
    color: red;
    font-size: 2.5rem; }
  footer .team-info .team-group {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: #ECC79C;
    white-space: nowrap; }
  footer .team-members {
    display: flex; }
  footer .team-member {
    flex: 1 1 25%;
    padding: 0 10px;
    margin: 10px 0; }
  footer .team-name {
    text-align: center;
    padding: 5px 0;
    position: relative;
    z-index: 2; }
  footer .team-social {
    display: flex;
    justify-content: center;
    margin: 10px 0; }
  footer .team-social a {
    font-size: 2.5rem;
    padding: 10px;
    color: #DBF0EF; }
    footer .team-social a:hover, footer .team-social a:active, footer .team-social a:focus {
      color: #ECC79C; }
  footer .attributions {
    text-align: right; }
  footer .attributions p {
    margin: 10px 0; }
  footer .attributions a {
    text-decoration: underline;
    color: #C7B2D3; }
    footer .attributions a:hover, footer .attributions a:active, footer .attributions a:focus {
      color: #ECC79C; }

@media all and (max-width: 800px) {
  footer {
    flex-direction: column;
    height: auto; }
    footer .team-social {
      justify-content: center; }
    footer .attributions {
      text-align: center; } }

@media all and (max-width: 450px) {
  footer .team-members {
    flex-wrap: wrap; }
  footer .team-member {
    flex: 1 1 calc(50% - 20px); } }
